body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: #e0eafc !important;
}
.weather-card {
  text-align: center;
  border: 0.5px solid #cfdef3;
  border-radius: 5px;
  padding: 8%;
  margin: 10% 0;
  /* background-color: #88c5cc; */
  background-color: white;
  color: black;
  overflow: hidden;
  -webkit-box-shadow: 1px 16px 20px -7px rgba(166,166,166,0.82);
  -moz-box-shadow: 1px 16px 20px -7px rgba(166,166,166,0.82);
  box-shadow: 1px 16px 20px -7px rgba(166,166,166,0.82);
}
.weather-card__content-temperature {
  font-size: 290%;
  margin: 0% !important;
}
.weather-card__content-summary {
  margin: 0% !important;
}
img{
  margin-top: 10%;
  margin-bottom: 20% !important;
  width: 40%;
}
.btn{
  color: black !important;
  background-color: white !important;
  border: 2px solid black !important;
  font-weight: bold !important;
  transition-duration: 0.5s;
}
.btn:hover{
  border: 2px solid #d0def3 !important;
  color: #d0def3 !important;
}
.weather-card__details {
  font-size: 65%;
}
.weather-card__day--div{
  border-top: 0.5px solid white;
  padding-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  min-height: 5em;
  overflow-x: auto !important;
}
.weather-card__day{
  font-size: 80%;
  display: inline-block !important;
  margin-right: 8%;
  margin-bottom: 4%;
}
.weather-card__day--p{
  margin-bottom: 0.5%;
}
